---
import PopupCloseBtn from "./PopupCloseBtn.astro";
import ButtonAnimated from "../ui/buttons/ButtonAnimated.astro";
---

<section
  class="relative w-full max-w-2xl overflow-hidden rounded-md bg-white shadow-2xl md:grid md:grid-cols-3"
>
  <PopupCloseBtn />
  <div class="h-32 w-[105%] md:h-full md:w-full">
    <img
      alt="Contact Ruslan"
      src="/vectors/mail.svg"
      class="h-full w-full object-cover object-[52%_20%] md:object-center"
    />
  </div>

  <div class="p-4 text-center sm:p-6 md:col-span-2 lg:p-8">
    <h3
      class="mb-1 text-base font-normal tracking-normal md:text-lg xl:text-2xl"
    >
      Contact Ruslan Shmidt
    </h3>
    <p class="mb-4 text-xs font-normal leading-snug tracking-wide opacity-80">
      Please leave a message, and I will get back to you within 24 hours.
    <p>
        <form
          name="callback-form"
          method="post"
          data-netlify="true"
          id="callback-form"
          class="space-y-3"
        >
          <div>
            <label class="sr-only" for="name">Name</label>
            <input
              class="w-full rounded-md border-[#607cb344] px-3 py-2.5 text-sm focus:border-[#607cb344] focus:ring-2 focus:ring-[#607cb3] focus:ring-offset-2"
              placeholder="Your Name"
              type="text"
              id="name"
              name="name"
              autocomplete="name"
            />
          </div>

          <div>
            <label class="sr-only" for="phone">Phone Number</label>
            <input
              class="w-full rounded-md border-[#607cb344] px-3 py-2.5 text-sm focus:border-[#607cb344] focus:ring-2 focus:ring-[#607cb3] focus:ring-offset-2"
              placeholder="Your Phone Number"
              type="tel"
              name="phone"
              id="phone"
              autocomplete="tel"
            />
          </div>

          <div>
            <label class="sr-only" for="message">Message</label>

            <textarea
              class="w-full rounded-md border-[#607cb344] px-3 py-2.5 text-sm focus:border-[#607cb344] focus:ring-2 focus:ring-[#607cb3] focus:ring-offset-2"
              placeholder="Your Message"
              rows="6"
              name="message"
              id="message"></textarea>
