---
interface Props {
  companyTitle: string;
  className?: string;
}

const { companyTitle, className } = Astro.props;
---

<a
  href="https://ruslanshmidt.exprealty.com/index.php"
  class=`flex items-center w-fit gap-x-1.5 ${className? className : ''} tabbable rounded-full`
  ><div class="">
    <div class="">
      <img
        src="/img/ruslog.webp"
        alt="Ruslan's Logo"
        class="w-full h-full"
      />
    </div>
  </div><span class="text-xl tracking-wide font-medium">{companyTitle}</span></a
>
