---
interface Props {
  companyTitle: string;
}

const { companyTitle } = Astro.props;
---

<a
  href="/"
  class="flex items-center gap-x-1.5 opacity-20 tabbable rounded-full"
>
  <div class="w-5 h-5">
    <img
      src="/img/ruslog.png"
      alt="Ruslan's Logo"
      class="w-full h-full"
    />
  </div>
  <span class="text-base tracking-wide text-white font-normal"
    >{companyTitle}</span
  ></a
>