---
import ButtonAnimated from "../components/ui/buttons/ButtonAnimated.astro";
import Container from "../layouts/Container.astro";
import Layout from "../layouts/Layout.astro";

const title = "Ruslan Shmidt - Your Real Estate Guide";
---

<Layout pageTitle={title}>
  <Container
    fullHeight={true}
    className="!h-screen bg-[--color-secondary-lighter]"
  >
    <div
      class="grid h-full w-full grid-rows-2 gap-4 md:grid-cols-2 md:grid-rows-1 md:items-center md:gap-28"
    >
      <div
        class="h-full min-h-[12rem] w-full min-w-[12rem] md:order-1 md:mb-10"
      >
        <img class="object-fit h-full w-full" src="/vectors/error.svg" />
      </div>

      <div class="mx-auto w-fit">
        <h1
          class="mb-2 max-w-[30ch] text-xl font-bold leading-tight [text-wrap:balanced]"
        >
          An Error Occurred
        </h1>
        <p class="mb-1 text-base opacity-80 [text-wrap:balanced]">
          It seems you've found a door to nowhere. Sorry about that!
        </p>
        <p class="mb-5 text-base opacity-80 [text-wrap:balanced]">
          Please visit our homepage to find what you're looking for.
        </p>
        <div class="">
          <ButtonAnimated
            hiddenText="back to homepage"
            onClick="location.href = '/'"
          >
            Take Me There!
          </ButtonAnimated>
        </div>
      </div>
    </div>
  </Container>
</Layout>
