---
// Import necessary components
import Container from "../../layouts/Container.astro";
import BackgroundImage from "./BackgroundImage.astro";
import CallToAction from "./CallToAction.astro";
import ColumnHeader from "./ColumnHeader.astro";
import SocialIcons from "../ui/social-icons/SocialIcons.astro";
import Item from "./Item.astro";
import Credits from "./Credits.astro";
---
<footer class="grid w-full grid-cols-1 grid-rows-[1fr,min,min]">
  <BackgroundImage />

  <CallToAction />

  <div class="bg-[--color-secondary-darkest]">
    <Container
      className="grid grid-cols-1 gap-6 py-8 md:grid-cols-2 lg:grid-cols-3"
    >
      <!-- Company Section -->
      <section class="md:[grid-column:1/2] md:[grid-row:1/2]">
        <ColumnHeader text="Ruslan Real Estate Agent" />
        <Item type="link" href="https://ruslanshmidt.exprealty.com/index.php">
        Contact        
        </Item>
      </section>

      <!-- Property Search Section -->
      <section class="md:[grid-column:2/3] md:[grid-row:1/2]">
        <ColumnHeader text="Properties" />
        <Item type="link" href="https://ruslanshmidt.exprealty.com/index.php">
          Find Properties
        </Item>
        <Item type="link" href="https://ruslanshmidt.exprealty.com/index.php" className="mt-2">
          View on Map
        </Item>
      </section>

      <!-- Social Media Links (Connect Section) -->
      <section class="md:[grid-column:3/4] md:[grid-row:1/2]">
        <ColumnHeader text="Connect" />
        <SocialIcons
          positionClassName="-ml-1"
          contacts={{
            facebookRef: "https://www.facebook.com/profile.php?id=100069804642843",
            linkedinRef: "https://www.linkedin.com/in/ruslan-shmidt-2a94b42a4/",
            zaloRef: "",
            phoneRef: ""
          }}
        />
      </section>
    </Container>
  </div>

  <!-- Credits Section -->
  <Credits />
</footer>
