---
import Container from "../../layouts/Container.astro";
import LogoSmall from "../logo/LogoSmall.astro";
import ButtonAnimated from "../ui/buttons/ButtonAnimated.astro";
import ColumnHeader from "./ColumnHeader.astro";
import SocialIcons from "../ui/social-icons/SocialIcons.astro";
import SubscriptionForm from "./SubscriptionForm.astro";
import Item from "./Item.astro";
import BackgroundImage from "./BackgroundImage.astro";
import Credits from "./Credits.astro";
import CallToAction from "./CallToAction.astro";
---

<!-- Footer component markup -->
<footer class="grid w-full grid-cols-1 grid-rows-[1fr,min,min]">
  <BackgroundImage />

  <CallToAction />

  <div class="bg-[--color-secondary-darkest]">
    <Container
      className="grid grid-cols-1 gap-2 pb-16 md:grid-cols-2 lg:grid-cols-3"
    >
      <!-- Company Section for Ruslan -->
      <ColumnHeader text="Ruslan Realty" />
      <Item type="link" href="/about">About Ruslan</Item>
      <Item
        type="button"
        id="callback-form-footer-btn"
        className="md:[grid-column:1/2] md:[grid-row:3/4]"
      >
        Contact
      </Item>

      <!-- Property Search Section -->
      <ColumnHeader
        text="Properties"
        className="md:[grid-column:2/3] md:[grid-row:1/2]"
      />
      <Item type="link" href="/search">Find Properties</Item>
      <Item
        type="link"
        href="/search?view=map"
        className="lg:[grid-column:2/3] lg:[grid-row:3/4]"
      >
        View on Map
      </Item>

      <!-- Newsletter Subscription Section -->
      <ColumnHeader
        text="Get the Latest Deals by Email"
        className="mb-1.5 mt-4 md:mb-0 md:mt-0 lg:mb-1.5 lg:[grid-column:3/4] lg:[grid-row:1/2]"
      />
      <SubscriptionForm className="lg:row-span-2" />

      <!-- Social Media Links -->
      <ColumnHeader
        text="CONNECT"
        className="mt-2 md:[grid-column:1/2] md:[grid-row:4/5] lg:mt-0 lg:[grid-column:3/4] lg:[grid-row:4/5]"
      />
      <SocialIcons
        positionClassName="-ml-1 [grid-column:1/2] md:[grid-row:5/6] lg:[grid-column:3/4] lg:[grid-row:5/6]"
        contacts={{
          facebookRef: "https://facebook.com/ruslanrealty",
          linkedinRef: "https://linkedin.com/in/ruslan",
          zaloRef: "",
          phoneRef: ""
        }}
      />
    </Container>
  </div>
  <Credits />
</footer>
