---
import "../styles/main.css";

import Footer from "../components/footer/Footer.astro";
import Navigation from "../components/navigation/Navigation.astro";
import CallbackForm from "../components/modals/CallbackForm.astro";
import Popup from "../components/modals/Popup.astro";
import Alert from "../components/ui/alerts/Alert.astro";
import LoadingScreen from "../components/loading-page-animations/loading-screen/LoadingScreen.astro";
import LoadingPageTransitions from "../components/loading-page-animations/loading-page-transitions/LoadingPageTransitions.astro";
import "../polyfills.js";

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
const currentPage = Astro.url.pathname;
---

<!doctype html>
<html lang="en" class="bg-[--color-secondary-lighter]">
  <head>
    <meta charset="UTF-8" />
    <!-- Update metadata + SEO -->
    <meta name="description" content="Discover real estate opportunities in Spokane, Washington with Ruslan, your trusted real estate agent. Unlock the potential of valuable properties and start your investment journey today." />
    <meta property="og:title" content="Ruslan - Spokane Real Estate Agent" />
    <meta property="og:image" content="https://example.com/ruslan-profile.jpg" />
    <meta property="og:url" content="https://your-website.com/" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- Additional metadata and SEO tags -->
    <title>{pageTitle}</title>
  </head>

  <body
    class="relative h-full w-full font-signica text-[--color-text]"
    data-loaded="false"
  >
    <!-- TODO: show preloading only once?  -->
    {currentPage === "/" && <LoadingScreen />}

    <LoadingPageTransitions />

    <Navigation />
    <main
      class="main-content relative h-full w-full overflow-x-hidden overflow-y-scroll bg-white"
    >
      <slot />
      <Footer />
    </main>

    <Popup id="callback-form-popup">
      <CallbackForm />
    </Popup>
    <Alert id="success-alert" type="success" title="Success">
      Success message
    </Alert>
    <Alert id="error-alert" type="error" title="Error">Error message</Alert>
  </body>

  <!-- Basic styles setup -->
  <style is:global>
    /* Remove blue highlight of clicked button in mobile Chrome browser */
    * {
      -webkit-tap-highlight-color: transparent;
    }

    /* Set up page height for better mobile height support */
    html,
    body {
      height: 100%;
      overflow-x: hidden;
    }

    html {
      background-size: 224px;
    }

    /* Style text selection */
    ::selection {
      background-color: rgba(var(--color-accent-rgb), 0.7);
      /* border-radius: 100%; */
      /* color: white; */
    }

    /* Style focus outline */
    .tabbable {
      @apply focus-visible:ring-2;
      @apply focus-visible:ring-offset-2;
      @apply focus-visible:ring-[#607cb3];
      @apply focus-visible:border-[#607cb344];
      @apply focus-visible:outline-none;
    }
  </style>

  <!-- Css classes requred by Lenis library - for smooth scroll functionality -->
  <style is:global>
    html.lenis {
      height: auto !important;
    }
    .lenis.lenis-smooth {
      scroll-behavior: auto !important;
    }
    .lenis.lenis-smooth [data-lenis-prevent] {
      overscroll-behavior: contain !important;
    }
    .lenis.lenis-stopped {
      overflow: hidden !important;
    }
    .lenis.lenis-scrolling iframe {
      pointer-events: none !important;
    }
  </style>

  <!-- Load smooth scroll (locomotive scroll + lenis) -->
  <script>
    import initScroll from "../scripts/smoothScroll";

    initScroll();
  </script>
</html>
